.tabla{
    text-align: center;
    padding: 3px;
    border: 2px solid black;
    border-radius: 6px;
}

.tabla td{
    padding: 10px;
    border: 1px solid rgb(209, 209, 209);
}

.gris{
    background-color: lightgrey;
}

.borde{
    border-left: 3px solid rgb(70, 67, 67);
}

.ciudad{
    background-color: lightblue;
}

.azul{
    color: blue;
}

.rojo{
    color: red;
}

.minima{
    font-weight: bold;
    text-decoration: underline;
}

.maxima{
    font-style: italic;
    color: brown;
}

.verde{
    background-color: rgba(173, 255, 173, 0.753);
}

.amarillo{
   background-color: rgb(255, 255, 185);
}

.estadisticas{
    padding: 3px;
    border: 2px solid rgb(150, 150, 150);
    border-radius: 6px;
    font-size: 0.9rem;
}

th{
    text-align: left;
    border-bottom: 3px solid rgb(70, 67, 67);
    padding: 10px;
}

.estadisticas td{
    border-bottom: 2px dotted grey;
    padding: 10px 10px;
}

